# Penetration-Test "Blue" - TryHackMe 

## 1. Managerial Summary

## 2. Methodology

## 3. Timeline

## 4. Findings

## 5. Remediation Suggestions
